/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  /* color: #27251F; */
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-color: #1e3932; */
}

/* your code */
body {
  background-color: #1e3932;
}

nav {
  color: #f2f0eb;
  display: flex;
  justify-content: space-between;
  font-size: larger;
  align-items: baseline;
}

header {
  background-color: gray;
  margin-bottom: 20px;
  padding: 1em;
  /* border: 10px; */
  border-radius: 0.3em;
  font-size: large;
}

section >div {
  display: flex;
  background-color: #00754a;
  margin: 10px;
  padding: 0.5em;
  justify-content: flex-end;
}

section {
  border: solid 1px #d4e9e2;
}

